
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    background: #b78b3c;
}
.table{
    display: flex;
    flex-wrap: wrap;
    width: calc(100vh - 40px);
    height: 100%;
    border: 1px solid black;
}
.table div{
    float: left;
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-wrap: wrap;
}
.table span{
    width: 12.5%;
    height: 100%;
    background: #32190a;
}
.table span i{
    font-style: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 4vh;
    transition: all 100ms ease-in-out;
}
.table span.active{
    position: relative;
}
.table span.active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(188, 94, 94, 0.7) !important;
    cursor: pointer;
}
.table div:nth-child(odd) span:nth-child(even), .table div:nth-child(even) span:nth-child(odd) {
    background: #cecfca;
}
.table span.target i{
    font-size: 6vh;
    transition: all 100ms ease-in-out;
}
.table span i[data-player='1']{
    color: #5b5b5b;
}
.table span i[data-player='2']{
    color: #b78b3c!important;
}
.table span.target i[data-player='1']{
    color: #353535 !important;
}
.table span.target i[data-player='2']{
    color: #ffae03!important;
}
.table strong{
    background: #32190a;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 5vh;
}
.list-pieces{
    margin-left: 20px;
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-pieces ul{
    display: none;
    flex-wrap: wrap;
    list-style: none;
    align-content: start;
}
.list-pieces ul.show{
    display: flex;
}
.list-pieces ul li{
    flex: 1;
    min-width: 25%;
    height: 12vh;
    position: relative;
    overflow: hidden;
}
.list-pieces ul li::before{
    content: "\f00d";
    color: red;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10vw;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .6;
}
.list-pieces ul li i{
    font-style: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 4vh;
}
.list-pieces .list-pieces-1{
    border: 1px solid white;
}
.list-pieces .list-pieces-1 li{
    background: #32190a;
    color: white!important;
    border: 1px solid white;
}
.list-pieces .list-pieces-2{
    border: 1px solid #32190a;
}
.list-pieces .list-pieces-2 li{
    color: #32190a!important;
    background: #cecfca;
    border: 1px solid #32190a;
}